<td-layout-nav title="UMK PAMS" logo="assets:logo">
  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <md-card-title>UMK PAMS</md-card-title>
        <md-card-subtitle>Graduate Management System</md-card-subtitle>
      </div>
    </div>
    <md-divider></md-divider>
    <md-nav-list hide-gt-sm>
      <template let-item let-last="last" ngFor [ngForOf]="items">
        <a md-list-item [routerLink]="[item.route]">
          <md-icon md-list-avatar>{{item.icon}}</md-icon>
          <h3 md-line> {{item.title}} </h3>
          <p md-line> {{item.description}} </p>
        </a>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </template>
    </md-nav-list>
    <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
      <template let-item let-last="last" ngFor [ngForOf]="items">
        <div flex-md="50" flex-gt-md="25" layout="column">
          <md-card href [routerLink]="[item.route]" class="md-card-colored" flex>
            <md-toolbar class="bgc-{{item.color}} " layout="column" layout-align="center center" layout-padding>
              <md-icon class="md-icon-font-xl tc-white">{{item.icon}}</md-icon>
            </md-toolbar>
            <md-card-content>
              <div layout="column" layout-padding>
                <div class="md-subhead">{{item.title}}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </template>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-wrap>

      <template let-stat let-last="last" ngFor [ngForOf]="stats">
        <div flex-md="100" flex-gt-md="33" layout="column">
          <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
              <div class="md-display-1">{{ stat.count | digits }}</div>
              <div layout="column" layout-padding>
                <div class="md-subhead tc-grey-700">Tasks {{stat.type}}</div>
                <div class="md-caption  tc-grey-500">updated {{ '2016-09-17 12:59:59' | timeAgo }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </template>

    </div>
    <md-divider></md-divider>

    <md-card-actions>
      <a href="http://www.canang.com.my" target="_blank" md-button color="primary">Contact Canang Technologies</a>
    </md-card-actions>
  </td-layout-card-over>
</td-layout-nav>
