<td-layout-nav logo="assets:logo">
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>Student Manager</span>
    <span flex></span>
    <button md-icon-button>
      <md-icon class="md-24">arrow_back</md-icon>
    </button>
  </div>
  <td-layout-manage-list #list title="Toolbar Title" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items>
      <a md-list-item [routerLink]="['/academic/students-new']">
        <md-icon>create</md-icon>
        Create Student
      </a>
      <a md-list-item [routerLink]="['/academic/students-search']">
        <md-icon>search</md-icon>
        Search Student
      </a>
      <md-divider></md-divider>
      <h3 md-subheader>Metadata</h3>
      <a md-list-item [routerLink]="['/']">
        <md-icon>insert_chart</md-icon>
        Chart
      </a>
      <a md-list-item [routerLink]="['/']">
        <md-icon>file_download</md-icon>
        Download Reports
      </a>
      <md-divider></md-divider>
      <h3 md-subheader>Shortcuts</h3>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">more_vert</md-icon>
      </button>
    </div>
    <md-card>
      <md-card-title>Student List</md-card-title>
      <md-card-subtitle>List of available students</md-card-subtitle>
      <md-divider></md-divider>
      <md-nav-list dense>
        <template let-student let-last="last" ngFor [ngForOf]="students">
          <a md-list-item layout-align="row" [routerLink]="['/academic/students', student.studentNo]">
            <md-icon md-list-avatar>account_circle</md-icon>
            <h3 md-line>{{student.name}}</h3>
            <p md-line> {{student.studentNo}} </p>
            <span flex="20" class="md-body-1 tc-grey-700">{{student.email}}</span>
          </a>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </template>
      </md-nav-list>
      <md-divider></md-divider>
    </md-card>
  </td-layout-manage-list>
</td-layout-nav>
