<td-layout-nav logo="assets:logo">
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>Student Manager</span>
    <span flex></span>
    <button md-icon-button>
      <md-icon class="md-24">arrow_back</md-icon>
    </button>
  </div>

  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">
      <div flex-gt-md="70">
        <md-card>
          <div toolbar-buttons layout="row" layout-align="start center" flex>
            <span flex></span>
            <button md-button class="md-icon-button">
              <md-icon class="md-24">more_vert</md-icon>
            </button>
          </div>

          <img md-card-avatar src="../../../assets/images/root_avatar.jpg">
          <md-card-title>{{student.name}}</md-card-title>
          <md-card-subtitle>{{student.studentNo}}</md-card-subtitle>
          <md-card-actions>
          </md-card-actions>
        </md-card>

        <md-card>
          <md-card-title>Courses</md-card-title>
          <md-card-subtitle>List of courses for current academic session</md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list dense>
            <template let-course let-last="last" ngFor [ngForOf]="courses">
              <a md-list-item layout-align="row" [routerLink]="['/academic/courses', course.courseNo]">
                <md-icon md-list-avatar>account_circle</md-icon>
                <h3 md-line>{{course.title}}</h3>
                <p md-line> {{course.courseNo}} </p>
                <span flex="20" class="md-body-1 tc-grey-700">{{course.credit}}</span>
              </a>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </template>
          </md-nav-list>
          <md-divider></md-divider>
          <md-card-actions>
            <a md-button color="accent" class="text-upper">
              <span>View History</span>
            </a>
          </md-card-actions>
        </md-card>
      </div>
      <div flex-gt-md="30">
        <md-card>
          <md-card-title>Action</md-card-title>
          <md-card-subtitle>Actions available on this student</md-card-subtitle>
          <md-divider></md-divider>

          <md-nav-list dense>
            <md-list-item>
              <md-icon md-list-avatar>build</md-icon>
              <h4 md-line>Deactivate</h4>
              <p md-line>Deactivate this student</p>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-avatar>email</md-icon>
              <h4 md-line>Message</h4>
              <p md-line>Message this student</p>
            </md-list-item>
          </md-nav-list>
        </md-card>
      </div>
    </div>
  </div>
</td-layout-nav>
