<td-layout-nav title="UMK PAMS" logo="assets:logo">
  <td-layout-card-over>
    <div layout="row" layout-align="start center">
      <div>
        <md-card-title>Academic Module</md-card-title>
        <md-card-subtitle>View and configure Academic module</md-card-subtitle>
      </div>
    </div>
    <md-divider></md-divider>

    <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
      <div flex-gt-md="50" layout="column">
        <md-card flex>
          <md-card-title>Student</md-card-title>
          <md-card-subtitle>Manage students</md-card-subtitle>
          <md-divider></md-divider>
          <md-card-content>
            <div layout="column" layout-padding>
              <md-nav-list list-items>
                <a md-list-item [routerLink]="['/academic/students']">
                  <md-icon>chevron_right</md-icon>
                  List all students
                </a>
                <a md-list-item [routerLink]="['/academic/students-new']">
                  <md-icon>chevron_right</md-icon>
                  Create new student
                </a>
              </md-nav-list>
            </div>
          </md-card-content>
        </md-card>
        <md-card flex>
          <md-card-title>Faculty</md-card-title>
          <md-card-subtitle>Manage faculties</md-card-subtitle>
          <md-divider></md-divider>
          <md-card-content>
            <div layout="column" layout-padding>
              <md-nav-list list-items>
                <a md-list-item [routerLink]="['/academic/faculties']">
                  <md-icon>chevron_right</md-icon>
                  List all faculties
                </a>
                <a md-list-item [routerLink]="['/academic/faculties-new']">
                  <md-icon>chevron_right</md-icon>
                  Create new faculty
                </a>
              </md-nav-list>
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div flex-gt-md="50" layout="column">
        <md-card flex>
          <md-card-title>Courses</md-card-title>
          <md-card-subtitle>View and configure courses</md-card-subtitle>
          <md-divider></md-divider>
          <md-card-content>
            <div layout="column" layout-padding>
              <md-nav-list list-items>
                <a md-list-item [routerLink]="['/academic/courses']">
                  <md-icon>chevron_right</md-icon>
                  List all courses
                </a>
                <a md-list-item [routerLink]="['/academic/courses-new']">
                  <md-icon>chevron_right</md-icon>
                  Create new course
                </a>
              </md-nav-list>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <md-divider></md-divider>
    <md-card-actions>
      <a href="http://www.umk.edu.my" target="_blank" md-button color="primary">Universiti Malaysia Kelantan</a>
    </md-card-actions>
  </td-layout-card-over>

</td-layout-nav>
